body{
	background-color: grey;
}

.outer{
	display: block;
	width: 500px;
	height: 500px;
	border: solid 15px;
	background-color: grey;
	margin: auto;
	margin-top: 20px;
}

.row{
	display: inline-block;
	width: 100%;
	height: 12.4%;
	background-color: yellow;
	margin-top: -3px;
}

.col{
	display: inline-block;
	width: 12.5%;
	height: 100%;
}

.row:nth-child(odd)>.col:nth-child(odd){
	background-color: blue;
}

.row:nth-child(even)>.col:nth-child(even){
	background-color: blue;
}
